.hqImage{
 max-height: 350px;
 width:100%
}

.hqImage img{
    object-fit: cover;
    height:350px  
}

.hq-h1{
    color :burlywood;
    font-size: larger;
    font-family :Georgia;   
}
   
.hq-card-background{
    background-image: url('https://res.cloudinary.com/dkwnepcnk/image/upload/v1730073563/golgotha_PNG1_jonbj0.png');
    font-size: large;
    background-repeat: no-repeat;
   background-size: cover;
   height: 100%;
 
}

.hq-bck{
  /*background-image: url('https://res.cloudinary.com/dkwnepcnk/image/upload/v1730073563/golgotha_PNG1_jonbj0');*/
    font-size: large;
    background-repeat: no-repeat;
   background-size: cover;
   height: 100%;
}

.hq-r{
    color:blue;    
   
  }

  .text-board{
    color: blue;
  }


.card-position{
    justify-content: center;

}
/*
.hq-btn{
    margin-right: 15%;
    width : 15%;
  }
    */
  
  .mb-4{
    color: whitesmoke;
    font-size:smaller;
    font-family: trebuchet MS;
  }

  
  .hq-btn{
       margin-left: 15%;
  }

  


  