.home-card-body {
   font-size: large;
  height: 100%;
  
  /* Adjust height as needed */
  
}

  

.background1{
  background-image: url('https://res.cloudinary.com/dkwnepcnk/image/upload/v1715190394/io3hxdympyg5ki5swvn8.jpg');
  background-repeat: no-repeat !important;
  background-size: cover;
  height: 100%;
}

.background2{
  background-image: url('https://res.cloudinary.com/dkwnepcnk/image/upload/v1725760529/jesus_crucifixion_2_pxuclg.webp');
  background-repeat: no-repeat !important;
  background-size: cover;
  height: 100%;
}

.background3{
  background-image: url('https://res.cloudinary.com/dkwnepcnk/image/upload/v1725031433/Golgotha_sunset_cross_zy4f40.jpg');
  background-repeat: no-repeat !important;
  background-size: cover;
  height: 60%;
}


.background4{
  background-image: url('https://res-console.cloudinary.com/dkwnepcnk/thumbnails/v1/image/upload/v1725760529/amVzdXNfY3J1Y2lmaXhpb25fMl9weHVjbGc=/drilldown');
  background-repeat: no-repeat !important;
  background-size: cover;
  height: 60%;
}

.home-h2 {
  font-size: large;
  color: white;

}

.home-h1 {
  font-size:xx-large;
  font-family: Trebuchet MS;
  font-weight:bolder;
  /*font-family:'Old English Text Mt';*/
  color:whitesmoke;
  margin-top: 5%;
}


.home-h2{
  font-size:x-large;
  font-family: Trebuchet MS;
  
}

.text-body-secondary{
  font-size: 15px;
  font-family: trebuchet MS;
  
}

.card-title{
  width : 70%;
  margin-left: 15%;
  margin-right: 15%;
  color: whitesmoke;
}

.card-text{
  width : 70%;
  margin-left: 15%;
  margin-right: 15%;
}


.btn-success{
  
  margin-left: 15%;
  size: 30px;
  
}

.home-card-body{
  height: 100%;
  min-height: 100vh;
}
  