/*
.background {
    background-image: url('../img/sky.jpg'); /* Adjust the path */
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh; /* Adjust height as needed */
  */
  body{
    background-image: url('../img/sky.jpg'); /* Adjust the path */
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh; /* Adjust height as needed */
    background-color: #cccccc;
  }

  