.home-card-body {
  background-image: url('https://i.ibb.co/XJYnnbB/blue-sky-without.jpg');
  /*Adjust the path */
   font-size: large;
   background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  /* Adjust height as needed */
  
}

.home-h2 {
  font-size: large;

  color: white;

}

.home-h1 {
  font-size: xx-large;
  /*font-family:'Old English Text Mt';*/

  color: white;

}