/*
.card-headquater{
    height: 80px;
    margin: 0;
    padding: 0;
    margin-bottom: 0;
  }
  */

  .list {
    background-image: url('https://i.ibb.co/XJYnnbB/blue-sky-without.jpg');
    /*Adjust the path */
     font-size: large;
     background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    /* Adjust height as needed */    
  }

  .hq-card-body {

    background-image: url('https://i.ibb.co/9NmSNP2/croix-v.jpg');
    /* Adjust the path */
    background-size: cover;
    background-repeat: no-repeat;
    height: 55vh;
    /* Adjust height as needed 
    background-color: #cccccc;*/
  
  }
  
  .hq-card-title {
    margin-top: 10%;
  }
  
  .text-body-secondary {
    color: white;
    font-family: 'Times New Roman';
    font-style: italic;
  
  }
  
  .hq-card {
    height: 80%;
    margin: 0;
    padding: 0;
    margin-bottom: 0;
  }
  
  .la-h3 {
    font-size: large;
    color: black;
  }

  h4 {
    font-size: large;
    color: blue;
  }

  .hq-h1 {
    font-size: xx-large;
    color: white;
    justify-content: center;
    font-family: trebuchet MS;
    font-style: italic;
    font-weight: bold;
  }

  table{
    border: 5px solid black;
    border-collapse: collapse;
    border-radius: 10px;
    width:100%;
    enable-background: 0%;
    background-color: rgb(205, 230, 245);
    
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }
  th{
    align-items: center;
    border: 5px solid rgb(0, 0, 0);
    border-collapse: collapse;
    color: blue;
  }
  td{
    border: 5px solid rgb(244, 238, 238);
    border-collapse: collapse;
    border-radius: 10px;
    color :rgba(19, 34, 194, 0.45);
  }

  .btn-primary{
    background-size: 80% 80%;
    background-image: linear-gradient(
      to right,
      #4f52f7 0%,
      #000000 51%,
      rgb(8, 8, 145) 20%,
      #000000 51%,
      #2600ff 100%
    );
    transition: 0.5s;
    color: white;
    border: none;
    margin-right: 2%;
    align-content: center;
  }