/*
.card-headquater{
    height: 80px;
    margin: 0;
    padding: 0;
    margin-bottom: 0;
  }
  */

  .listView {
    background-image: url("https://i.ibb.co/XJYnnbB/blue-sky-without.jpg");
    /*Adjust the path */
    font-size: large;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto !important;
    /* Adjust height as needed */
  }

  
  .la-h4{
    margin-bottom: 5%; 
    font-size: small;
    color:whitesmoke;
  }

  
  .hq-card-body {
    background-image: url("https://i.ibb.co/9NmSNP2/croix-v.jpg");
    /* Adjust the path */
    background-size: cover;
    background-repeat: no-repeat;
    height: 55vh;
    /* Adjust height as needed 
        background-color: #cccccc;*/
  }
  
  .hq-card-title {
    margin-top: 10%;
  }
  
  .text-body-secondary {
    color: white;
    font-family: "Times New Roman";
    font-style: italic;
  }
  
  .hq-card {
    height: 80%;
    margin: 0;
    padding: 0;
    margin-bottom: 0;
  }
  
  .la-h3 {
    font-size: large;
    color: whitesmoke;
  }

  .me-3 {
    font-size: large;
    color: blue;
  }
  
  


  h4 {
    font-size: large;
    color: blue;
  }
  
  
  .hq-h1 {
    font-size: xx-large;
    color: white;
    justify-content: center;
    font-family: trebuchet MS;
    font-style: italic;
    font-weight: bold;
  }
  
  table {

    border-collapse: collapse;
    border-radius: 10px;
    width: 70%;
    enable-background: 0%;     
  
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 15%;
    margin-right: 15%;
  }
  
  th {
    align-items: center;
    
    border-collapse: collapse;
    color: blue;
  }
  
  td {
    border-bottom: 2px solid whitesmoke;
    border-collapse: collapse;
    border-radius: 10px;
    color: rgba(221, 222, 237, 0.45);
  }
  
  
  .btn-primary {
    background-size: 80% 80%;
    background-image: linear-gradient(to right,
        #4f52f7 0%,
        #000000 51%,
        rgb(8, 8, 145) 20%,
        #000000 51%,
        #16047d 100%);
    transition: 0.5s;
    color: white;
    border: none;
    margin-right: 2%;
    align-content: center;
  }
  
  .testimonyBubble {
    height: auto;
  }
  
  .testimonyFeed {
    width: 40%;
  }
  
  .custom-width {
    width: 40%
  }

  .page-link{
    background-size: 80% 80%;
    background-image: linear-gradient(to right,
        #4f52f7 0%,
        #000000 51%,
        rgb(8, 8, 145) 20%,
        #000000 51%,
        #2600ff 100%);
    transition: 0.5s;
    color: white;
    border: none;
    margin-right: 2%;
    align-content: center;
  }


  .listActivities{
    background-image: url("https://i.ibb.co/XJYnnbB/blue-sky-without.jpg");
    /*Adjust the path */
    font-size: large;
    background-repeat: no-repeat;
    background-size: cover;
    
  }