/*button{
    background-color: #98bcf5 !important;
}*/

.btn-animated {
    background-size: 200% 200%;
    background-image: linear-gradient(
      to right,
      #ff0000 0%,
      #000000 51%,
      #ff0000 100%
    );
    transition: 0.5s;
    color: white;
    border: none;
  }
  
  .btn-animated:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
    animation: gradient 2s ease infinite;
  }

  .loginTitle{
    justify-content: center;
    color:blue
  }
  

  input{
    margin-right: 2%;
    width : 300px;
  }