.org-h6 {
  font-size:medium;
  color:whitesmoke;
}

.org-h4 {
  font-size: large;
  color:whitesmoke;
}

.org-container-fluid {

  
  /* Adjust height as needed */


  height: 85vh;
  /* Adjust height as needed */
}


.container-fluid {
  background-image: url('https://i.ibb.co/XJYnnbB/blue-sky-without.jpg');
  /*Adjust the path */
   font-size: large;
   background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  
}
.row{
  color:whitesmoke;
}


.row{
  width : 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.text{
  width : 70%;
  margin-left: 15%;
  margin-right: 15%;
}
