.org-h6 {
  font-size:medium;
  color:rgb(27, 130, 232);
}

.org-h4 {
  font-size: large;
  color:rgb(61, 130, 234);
}

.org-container-fluid {

  
  /* Adjust height as needed */


  height: 85vh;
  /* Adjust height as needed */
}

/*
.container-fluid {
  background-image: url('https://i.ibb.co/XJYnnbB/blue-sky-without.jpg');
  /*Adjust the path */
   font-size: large;
   background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  /* Adjust height as needed 
  
}*/
.row{
  color:rgb(3, 31, 131);
}