.org-h6 {
  font-size:medium;
  color:whitesmoke;
}

.org-h4 {
  font-size: large;
  color:whitesmoke;
}

.org-container-fluid {  
  /* Adjust height as needed */
  height: 85vh;
  /* Adjust height as needed */
  background-image: url('https://i.ibb.co/XJYnnbB/blue-sky-without.jpg');
  /*Adjust the path */
   font-size: large;
   background-repeat: no-repeat;
  background-size: cover;
}

.org-container{
  height: 100%;
  min-height: 100vh;
}

.text{
  width : 70%;
  margin-left: 15%;
  margin-right: 15%;  
}


.col-btn{
    margin-right: auto;
    display:flex; 
    justify-items: center;
    
}


.col-btn1{
  margin-left: 1%;  
}



.btn2{  
  margin-left: 1%;
 }
 
.btn3{
  margin-left: 15%; 
}

.org-h5{
font-family: Trebuchet MS;
}


