.col-btn{
    margin-left: 5%;
    margin-right: 5%;
  }
  
  
  .btn2{
    width : 100%;
  }

  .mb-3{
   /* background-color: none !important;*/
 
  }
  .text-center{
    justify-content: center;

  }

  h1-custom{
    justify-content: center;
    color :whitesmoke;
    padding-bottom: 2%;
    font-family: Georgia;
  }  

   .pastEvent{
    color: whitesmoke !important;   
   }

   .event-bck{
    background-image: url('https://res-console.cloudinary.com/dkwnepcnk/thumbnails/v1/image/upload/v1715037820/b2RxdWhmbW50OW84bGRoc2Jlb2Y=/drilldown');
    background-repeat: no-repeat !important;
    background-size: cover;
    height: 100%;
  }
  
