
  /*for Testimonies.js 
  col-3{
    color:whitesmoke;
    width : 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
  
  */
  .text-center{
    color: whitesmoke !important;;
        
  } 

  .text-end{
    color:white;
    width : 100%;
    margin-left: 15%;
    margin-right: auto;
  }

  .jumbotron{
    margin-right: 5%;
  }
  
  .btn{
    margin-left: 1%;
  }



  
  